body {
    padding: 0px;
}

.wrapper {
    position: relative;
    top: 0;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    gap: 16px;
    padding: 16px;

    &.wrapper-full-page {
        min-height: 100vh;
        height: auto;
    }
}

.sidebar,
.off-canvas-sidebar {
    border-radius: 16px;
    background: var(--White-100, #F5F5FF);

    .pad-left-n {
        padding-left: 40px;
    }

    top: 0;
    // height: 100%;
    bottom: 0;
    min-width: 296px;
    left: 0;

    .lastsidebar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 999;
        position: relative;
        padding: 24px 0px 0px 8px;
        border-top: 1px solid var(--Grey-200, #E0E0E8);
        margin-top: 24px;
        background-color: #fff;

        .lastleftsidebar {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 12px;

            .userloginimg {
                border-radius: 200px;
                border: 0.75px solid #12215c5c;
                object-fit: cover;
                object-position: center;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;

                .userinnerimg {
                    border-radius: 200px;
                    object-fit: cover;
                    object-position: center;
                    width: 100%;
                    height: 100%;
                }

            }

            .usertexts {
                .userhead {
                    color: var(--Base-Text, #12215C);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 22px;
                }

                .userpara {
                    color: var(--Grey-700, #7A7A96);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 22px;
                }
            }
        }
    }

    .allbox {
        border-radius: 15px;
        background: rgba(148, 235, 209, 0.51);
        height: 150px;
        margin: 32px 16px 0px;
        overflow: hidden;
        padding: 16px 18px;
        position: relative;

        .alllogoimgshade {
            position: absolute;
            right: 0px;
            top: 13px;
        }

        .allpara {
            color: var(--Base-Text, #12215C);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            margin-top: 16px;
        }
    }

    .sidebar-wrapper {
        background: var(--White-100, #F5F5FF);

        .mainmenupara {
            color: var(--Grey-800, #696985) !important;
            padding: 0px 16px 16px;
            font-size: 14px !important;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
        }

        .edit-page-profile {
            .logo-imgss {
                .text-l {
                    padding-right: 20px;
                }

                .pad-rihgt {
                    padding-right: 10px;
                }

                h4 {
                    font-family: "Suisse Int'l Book";
                    font-style: normal;
                    font-weight: 600;
                    font-size: 12px !important;
                    line-height: 16px;
                    color: #000000;
                }

                p {
                    font-family: "Suisse Int'l Book";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 10px !important;
                    line-height: 14px;
                    color: #9A9AA9;
                }

            }

            margin-top: 195px;
            margin-bottom: 50px;
            margin-left: 41px;
        }

        position: relative;
        overflow: auto;
        width: 100%;
        z-index: 4;
        padding-bottom: 16px;

        .dropdown .dropdown-backdrop {
            display: none !important;
        }

        .navbar-form {
            border: none;
        }
    }

    .navbar-minimize {
        position: absolute;
        right: 20px;
        top: 2px;
        opacity: 1;

        //   @extend .animation-transition-general;
    }

    .logo-tim {
        border-radius: 50%;
        border: 1px solid #333;
        display: block;
        height: 61px;
        width: 61px;
        float: left;
        overflow: hidden;

        img {
            width: 60px;
            height: 60px;
        }
    }

    .nav {
        display: block;
        padding: 0px 16px;

        .caret {
            top: 14px;
            position: absolute;
            right: 10px;
        }

        .othermenupara {
            color: var(--Grey-800, #696985) !important;
            font-size: 14px !important;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            width: 100%;
            border-top: 1px solid var(--Grey-200, #E0E0E8);
            padding: 16px 0px;
        }

        li {

            >a {
                display: flex;
                padding: 14px 16px;
                align-items: center;
                color: var(--Grey-800, #696985);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                margin-bottom: 16px;
                border-radius: 8px;

                .pad-rihgt {
                    padding-right: 16px;
                }

                &:active {
                    background: var(--Blue-Base, #2652FF);
                    color: var(--Base-White, #FFF);
                    background: var(--Blue-Base, #2652FF);

                    .iconns {
                        // fill: #FFF;
                        stroke: #FFF;
                    }
                }
            }

            .iconns {
                // fill: #696985;
                margin-right: 16px;
            }

            .nav>li>a {
                padding: 5px 8px;

            }

            &.active>a,
            &.active>a>i {
                opacity: 1;

            }

            &:hover:not(.active)>a,
            &:focus:not(.active)>a {
                // opacity: 1;
                // background: #1FA5FF;
                // -webkit-background-clip: text;
                // -webkit-text-fill-color: transparent;
                // color: #1FA5FF;

                .iconns {
                    // fill: #1FA5FF;
                }
            }
        }


        i {
            font-size: 24px;
            float: left;
            margin-right: 12px;
            line-height: 30px;
            width: 34px;
            text-align: center;
            color: $opacity-5;
            position: relative;
        }

        p {
            margin-bottom: 0;
        }

        .collapse,
        .collapsing {
            .nav {
                margin-top: 0;
            }
        }
    }

    .sidebar-background {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        display: block;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center center;

        &:after {
            position: absolute;
            width: 100%;
            height: 100%;
            content: "";
            display: block;
            background: #1E1E1E !important;
            opacity: 1;
        }
    }

    .logo {
        position: relative;
        padding: 40px 16px;
        z-index: 4;
        text-align: center;
        background: var(--White-100, #F5F5FF);


        // a.logo-mini{
        //     opacity: 1;
        //     float: left;
        //     width: 34px;
        //     text-align: center;
        //     margin-left: 10px;
        //     margin-right: 12px;
        // }

        a.logo-normal {
            display: block;
            opacity: 1;
            padding: 11px 0 8px;
            @include transform-translate-x(0px);
        }

        // &:after{
        //     content: '';
        //     position: absolute;
        //     bottom: 0;
        //     right: 15px;
        //     height: 1px;
        //     width: calc(100% - 30px);
        //     background-color: $opacity-5;

        // }

        p {
            float: left;
            font-size: 20px;
            margin: 10px 10px;
            color: $white-color;
            line-height: 20px;
            font-family: "Suisse Int'l Book";
        }

        // .simple-text{
        //     text-transform: uppercase;
        //     padding: $padding-base-vertical 0;
        //     display: block;
        //     white-space: nowrap;
        //     font-size: $font-size-large;
        //     color: $white-color;
        //     text-decoration: none;
        //     font-weight: $font-weight-normal;
        //     line-height: 30px;
        //     overflow: hidden;
        // }
    }

    .logo-tim {
        border-radius: 50%;
        border: 1px solid #333;
        display: block;
        height: 61px;
        width: 61px;
        float: left;
        overflow: hidden;

        img {
            width: 60px;
            height: 60px;
        }
    }

    &:before,
    &:after {
        display: block;
        content: "";
        opacity: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 16px;
    }

    &:after {
        @include icon-gradient($default-color);
    }

    &[data-color="white"] {
        @include sidebar-color($white-color);
        @include sidebar-text-color($default-color);
    }

    &[data-color="black"] {
        @include sidebar-color($dark-color);
    }


    // Active color changing

    &[data-active-color="primary"] {
        @include sidebar-active-color($primary-color);
    }

    &[data-active-color="info"] {
        @include sidebar-active-color($info-color);
    }

    &[data-active-color="success"] {
        @include sidebar-active-color($success-color);
    }

    &[data-active-color="warning"] {
        @include sidebar-active-color($warning-color);
    }

    &[data-active-color="danger"] {
        @include sidebar-active-color($danger-color);
    }
}

.visible-on-sidebar-regular {
    display: inline-block !important;
}

.visible-on-sidebar-mini {
    display: none !important;
}

.off-canvas-sidebar {

    .nav {

        >li>a,
        >li>a:hover {
            color: $white-color;
        }

        >li>a:focus {
            background: rgba(200, 200, 200, 0.2);
        }
    }
}


.main-panel {
    position: relative;
    float: right;
    width: $sidebar-width;
    padding: 24px;
    border-radius: 16px;
    background: var(--White-100, #F5F5FF);
    @include transition (0.50s, cubic-bezier(0.685, 0.0473, 0.346, 1));

    >.content {
        padding: 29px 0px 0px 0px;
        min-height: calc(100vh - 123px);
    }

    >.navbar {
        margin-bottom: 0;
    }


    .header {
        margin-bottom: 50px;
    }
}


.perfect-scrollbar-on {

    .sidebar,
    .main-panel {}
}

.panel-header {
    height: 260px;
    padding-top: 80px;
    padding-bottom: 45px;
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-gradient(linear, left top, right top, from(#0c2646), color-stop(60%, #204065), to(#2a5788));
    background: linear-gradient(to right, #0c2646 0%, #204065 60%, #2a5788 100%);
    position: relative;
    overflow: hidden;

    .header {
        .title {
            color: $white-color;
        }

        .category {
            max-width: 600px;
            color: $opacity-5;
            margin: 0 auto;
            font-size: 13px;

            a {
                color: $white-color;
            }
        }
    }
}

.panel-header-sm {
    height: 135px;
}

.panel-header-lg {
    height: 380px
}